<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @institution.name %>
</p>


<%= link_to 'Edit', edit_administrator_institution_path(@institution) %> |
<%= link_to 'Back', administrator_institutions_path %>

