<h1>Editing second_semester_past_question</h1>

<%= render 'form' %>

<%= link_to 'Show', [:administrator, @second_semester_past_question] %> |
<%= link_to 'Back', administrator_second_semester_past_questions_path %>
