<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @semester.name %>
</p>


<%= link_to 'Edit', edit_administrator_semester_path(@semester) %> |
<%= link_to 'Back', administrator_semesters_path %>
