<html>
	<head>
		<script src="../javascripts/jquery-1.8.2.min.js"></script>
        <script src="../javascripts/jquery.bxslider.js"></script>
        <link href="../stylesheets/adverts.bxslider.css" rel="stylesheet" />
	</head>
    <body>
    	<div class="faculty_ads">
            	<% if current_user.faculty == nil %>
			  <div class="no_faculty_record">No Faculty Record</div>
			    <% else %>
			    <div class="slider-wrapper">
                  <ul class="facultyad">
			         <% current_user.faculty.faculty_ads.each do |faculty_ad| %>
			         <li>
			         	<div class="ads_container">
			         	
                           	  <div class="ads_name"><%= faculty_ad.name %></div>  <br />                        		
                           	  <div class="ads_content_container"><%= faculty_ad.content %></div>
                              <br />
                              <div class="email_price">
                              <% if faculty_ad.price == nil %>
                        	  <% else %>
                               <div class="ads_price">                         	
                            	 <div class="price_bg"><%= sprintf("N %0.02f" , faculty_ad.price) %></div><div class="price_label">Price</div>
                               </div>
                              <% end %>
                              <% if faculty_ad.email == nil %>
                        	  <% else %>
                                <div class="email_container"><%= faculty_ad.email %></div><br />
                              <% end %>
                        	  
                              </div>
                        </div>
                       </li>
                      <% end %>	
                    </ul>
                 </div>
			    <% end %>
            </div>
              <script type="text/javascript">
             $(document).ready(function(){
             $('.facultyad').bxSlider({
               mode: 'fade',
               auto: true,
               speed:400,
               pause:10000,
               randomStart: true,
               autoControls: true
              });
             });
        </script>
    </body>
</html>


 