<h1>Editing first_semester_library_book</h1>

<%= render 'form' %>

<%= link_to 'Show', [:administrator, @first_semester_library_book] %> |
<%= link_to 'Back', administrator_first_semester_library_books_path %>
