<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @state_of_origin.name %>
</p>


<%= link_to 'Edit', edit_state_of_origin_path(@state_of_origin) %> |
<%= link_to 'Back', state_of_origins_path %>
