// GENERAL USER MOBILE_APPLICATION_LAYOUT

@media (min-width: 100px) {

.goal_tag {
  font-size: 4px;
  font-family: arial;
  color: #4e4e4e;
  margin-top: -4%;
  margin-left: 0.7%;
  }
}









