<h1>Editing first_semester_library_book_outline</h1>

<%= render 'form' %>

<%= link_to 'Show', [:administrator, @first_semester_library_book_outline] %> |
<%= link_to 'Back', administrator_first_semester_library_book_outlines_path %>
